@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

.header {
  background-color: #ffb8ca;
  height: 502px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav__logo {
  width: 199px;
  height: 50px;
  margin-top: 6px;
  margin-left: 20px;
  z-index: 3;
}
.nav__hero {
  height: 452px;
  z-index: 0;
  position: relative;
}
.nav__buttons {
  position: absolute;
  display: flex;
  z-index: 3;
  top: 0;
  margin-top: 125px;
}
.nav__motto {
  position: absolute;
  top: 0;
  width: 218px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  z-index: 3;
  margin-top: 137px;
  margin-left: 20px;
}
.nav__motto p {
  padding: 0;
  margin: 0;
}
.nav__motto--accent {
  font-size: 48px;
  line-height: 46px;
  color: #d41443;
}
.nav__background {
  position: absolute;
  z-index: 2;
  margin-top: 36px;
  margin-left: 117px;
}
.nav__background--elipse {
  position: absolute;
  z-index: 1;
  margin-top: 27px;
  margin-left: 36px;
  height: 344px;
  width: 346px;
}

.buttons {
  z-index: 3;
}
.buttons__products {
  background: #d41443;
  border-radius: 20px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.2px;
  height: 24px;
  margin-right: 8px;
}
.buttons__about {
  background: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82.8px;
  height: 24px;
}
.buttons__link--products {
  color: #ffffff;
  text-decoration: none;
}
.buttons__link--about {
  text-decoration: none;
  color: #d41443;
}

.menu-toggle {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  right: 20px;
  color: #ffffff;
}

.mobile-menu {
  padding: 0;
  margin-top: 60px;
}
.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin-left: 21px;
}
.mobile-menu__link {
  display: block;
  padding-top: 22px;
  color: #ffffff;
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
}
.mobile-menu__button {
  width: 209px;
  height: 44px;
  color: #d41443;
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 21px;
}
.mobile-menu .button__tick {
  margin-left: 16px;
}

.mobile-menu__link:hover {
  color: #d41443;
}

.open-button {
  color: #d41443;
  stroke: 1px;
  margin-top: 18px;
  margin-right: 20px;
}

.close-button {
  color: #ffffff;
  margin-top: 23px;
}/*# sourceMappingURL=main.css.map */
