$mainBackgroundColor: #d41443;
$mainBackgroundColorMiddle: #e17992;
$mainBackgroundColorLight: #ffb8ca;
$maincolor: #ffffff;
$footerBackground: #fff5f6;
$footerLogoMain: #ffa5ba;
$footerLogoAccent: #d41443;
$footerIconBackground: #fea5bb;
$footerContact: #000;
$footerCopyrightBorder: #e1e1e1;
$footerCopyright: #907e82;