<div class="pm-container">
  <h2 class="pm-container__title">ICE CREAM FLAVORS</h2>
  <ul class="pm-card">
    <li class="pm-card__item">
      <img class="pm-card__img" />
      <h3 class="pm-card__title">Vanilla Bean Honey</h3>
      <p class="pm-card__desc">
        This isn't your typical vanilla. Using Madagascar vanilla extract and pure vanilla bean
        paste, EPIC adds sweetness with pure honey from local farms to create the very best vanilla
        ice cream. Rich and flavorful, yet light enough to enjoy an entire pint at one sitting.
      </p>
      <p class="pm-card__spec">GLUTEN FREE</p>
    </li>
  </ul>
</div>
