<section class="about" id="how-it-is-made">
  <div class="container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">How it's made?</h2>
    <ul class="about__items">
      <li class="about__item">
        <div class="about__logo">
          <picture>
            <source media="(min-width:1280px)"
              srcset="./images/about/about-logo-cow-milk-dectop.png 1x, ./images/about/about-logo-cow-milk-desctopx2.png 2x, ./images/about/about-logo-cow-milk-desctopx3.png 3x" />
            <source media="(min-width:768px)"
              srcset="./images/about/about-logo-cow-milk-tablet.png 1x, ./images/about/about-logo-cow-milk-tabletx2.png 2x, ./images/about/about-logo-cow-milk-tabletx3.png 3x" />
            <source media="(min-width:480px)" class="about__logo-img"
              srcset="./images/about/about-logo-cow-milk.png 1x, ./images/about/about-logo-cow-milkx2.png 2x, ./images/about/about-logo-cow-milkx3.png 3x" />
            <img class="about__logo-img" src="./images/about/about-logo-cow-milk.png" alt="bootle of milk and cow" />
          </picture>
        </div>
      </li>
      <li class="about__item">
        <ul class="about__div-items">
          <li>
            <p class="div-item__desc-1">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li>
            <p class="div-item__desc-2">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
              rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
              volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
          </li>
          <li>
            <p class="div-item__desc-3">Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
          <li>
            <button class="div-item__btn" type="button" about-modal-open>
              Read more
              <svg class="div-item__btn-svg">
                <use xlink:href="./images/about/icons.svg#icon-button-svg"></use>
              </svg>
            </button>
          </li>
        </ul>

      </li>
    </ul>
  </div>
  <div class="about-read-more is-hidden" about-modal>
    <div class="about-read-more__modal">
      <div class="about-read-more__button-close" about-modal-close>
        <svg width="18" height="18" viewBox="0 0 18 18" class="about-read-more__icon-close" about-modal-close>
          <use xlink:href="./images/about/icons.svg#icon-close-black">
          </use>
        </svg>
      </div>

      <div class="read-more">
        <div class="read-more__title-items">
          <p class="read-more__subtitle">tradition and love</p>
          <h2 class="read-more__title">How it's made?</h2>
          <div class="read-more__text-box">
            <p class="read-more__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, expedita
              facere obcaecati voluptatibus beatae suscipit est quasi recusandae. Omnis qui nostrum in repudiandae nam
              sequi eius non eveniet placeat porro?
              Amet ducimus repudiandae nesciunt minus aut optio. Eum deserunt quae, maiores libero, ipsa ad vero iste
              hic, mollitia error animi. Consequuntur atque corporis cumque ipsam blanditiis molestias nobis eum nam.
              Quaerat maxime quasi esse, repudiandae officia, voluptates eligendi quam alias laborum earum pariatur quis
              eum aut incidunt sed necessitatibus nobis quisquam eos doloribus debitis, consequuntur non consequatur
              voluptate facere? Architecto?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./scripts/about-modal/about-modal.js"></script>