<section class="about">
  <div class="contrainer-about">
    <ul class="about-titles__items">
      <li>
        <p class="about__subtitle">tradition and love</p>
      </li>
      <li>
        <h2 class="about__title">How it's made?</h2>
      </li>
    </ul>
    <ul class="about__items">
      <li>
        <div class="about__div">
          <img class="about__div-img" src="" alt="bootle of milk and cow" />
          <ul class="about__div-ul">
            <li>
              <p class="img__desc-1">
                Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
                faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
              </p>
            </li>
            <li>
              <p class="img__desc-2">
                Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
                rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
                volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
              </p>
            </li>
            <li>
              <p class="img__desc-3">Aliquam erat volutpat. Aenean accumsan.</p>
            </li>
            <li>
              <button class="img__btn" type="button">
                <span class="img__btn-content">Read more</span>
                <span class="img__btn-content">></span>
              </button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  </div>