<section class="about">
  <div class="container">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__title">How it's made?</h2>
    <ul class="about__items">
      <li class="about__item">
        <div class="about__logo">
          <img class="about__logo-img" src="./images/about/about-logo-cow-milk.png" alt="bootle of milk and cow" />
        </div>
      </li>
      <li class="about__item">
        <ul class="about__div-items">
          <li>
            <p class="div-item__desc-1">
              Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus,
              faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
            </p>
          </li>
          <li>
            <p class="div-item__desc-2">
              Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris
              rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula
              volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
            </p>
          </li>
          <li>
            <p class="div-item__desc-3">Aliquam erat volutpat. Aenean accumsan.</p>
          </li>
          <li>
            <button class="div-item__btn" type="button">
              <p class="div-item__btn-text">Read more</p>
              <svg class="div-item__btn-svg">
                <use xlink:href="./images/about/icons.svg#icon-button-svg"></use>
              </svg>
            </button>
          </li>
        </ul>

      </li>
    </ul>
  </div>
  </div>