<div class="container-advantages">
  <div class="section advantages">
    <ul>
      <li>
        <h2 class="invisible">advantages</h2>
        <ul class="advantages__list">
          <li class="advantages__list-elem-721">
            <p class="advantages__list-elem-name">721</p>
            <p class="advantages__list-elem-desc">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li class="advantages__list-elem-16">
            <p class="advantages__list-elem-name">16kg</p>
            <p class="advantages__list-elem-desc">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
          <li class="advantages__list-elem-84">
            <p class="advantages__list-elem-name">84</p>
            <p class="advantages__list-elem-desc">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
