<section id="contacts" class="products-section">
    <div class="container container--contacts">
        <h3 class="hidden">CONTACTS</h3>
        <ul class="contacts">
        <li class="contacts__contact">
            <div class="contacts__box">
                <div class="contacts__textbox">
                    <h4 class="filler">...</h4>
                    <h4 class="contacts__place-type contacts__place-type--cafe">CAFE</h4>
                    <h5 class="contacts__city">Chicago</h5>
                    <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts__textbox contacts__textbox--middle">
                    <h5 class="contacts__days">Monday - Friday</h5>
                    <span class="contacts__hours">06:00 AM - 10:00 PM</span>
                    <h5 class="contacts__days">Saturday - Sunday</h5>
                    <span class="contacts__hours">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts__textbox contacts__textbox--last">
                    <a class="contacts__phone" href="tel:+64(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </div>
        </li>
        <li class="contacts__contact">
            <div class="contacts__box">
                <div class="contacts__textbox">
                    <h4 class="filler">...</h4>
                    <h4 class="contacts__place-type contacts__place-type--foodtruck">FOODTRUCK</h4>
                    <h5 class="contacts__city">Los Angeles</h5>
                    <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts__textbox contacts__textbox--middle">
                    <h5 class="contacts__days">Monday - Friday</h5>
                    <span class="contacts__hours">06:00 AM - 10:00 PM</span>
                    <h5 class="contacts__days">Saturday - Sunday</h5>
                    <span class="contacts__hours">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts__textbox contacts__textbox--last">
                    <a class="contacts__phone" href="tel:+64(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </div>
        </li>
        <li class="contacts__contact">
            <div class="contacts__box">
                <div class="contacts__textbox">
                    <h4 class="filler">...</h4>
                    <h4 class="contacts__place-type contacts__place-type--cafe">CAFE</h4>
                    <h5 class="contacts__city">New York</h5>
                    <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
                <div class="contacts__textbox contacts__textbox--middle">
                    <h5 class="contacts__days">Monday - Friday</h5>
                    <span class="contacts__hours">06:00 AM - 10:00 PM</span>
                    <h5 class="contacts__days">Saturday - Sunday</h5>
                    <span class="contacts__hours">08:00 AM - 16:00 PM</span>
                </div>
                <div class="contacts__textbox contacts__textbox--last">
                    <a class="contacts__phone" href="tel:+64(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </div>
        </li>
        </ul>
        <button class="contact-button contact-button--locations" type="button"><pre class="contact-button__text">Our Locations </pre><svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L4.61035 5L1 9" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </button>
        <button class="contact-button contact-button--franchise" type="button"><pre class="contact-button__text">Franchise </pre><svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.42041 1L5.70162 5L1.42041 9" stroke="#D41443" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </button>
    </div>
  </section>