<section class="splide" aria-label="Splide Basic HTML Example">
  <div class="container">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide">
          <div class="splide__img-box">
            <img
              class="splide__img"
              src="images/customer_reviews/woman1.png"
              alt="happpy woman 1"
            />
          </div>
          <div class="splide__opinion-box">
            <div class="splide__opinion">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </div>
          </div>
          <div class="splide__dots">
            <div class="splide__dots-item"></div>
            <div class="splide__dots-item"></div>
            <div class="splide__dots-item"></div>
          </div>
          <p class="splide__signature">Emily, Los Angeles</p>
        </li>
      </ul>
    </div>
  </div>
</section>
