<div class="footer__motto">
  <p>
    Homemade ice cream <br />
    made
  </p>
  <p class="footer__motto--accent">
    with<br />
    passion
  </p>
</div>
<div class="footer__social-media">
  <ul class="footer__list">
    <li>
      <a class="footer__link" href="#">
        <svg class="footer__icon">
          <use xlink:href="images/footer/sprite.svg#icon-github"></use>
        </svg>
      </a>
    </li>

    <li>
      <a class="footer__link" href="#">
        <svg class="footer__icon">
          <use xlink:href="images/footer/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a class="footer__link" href="#">
        <svg class="footer__icon">
          <use xlink:href="images/footer/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
  <div class="footer__phone">
    Feel free to contact
    <a href="tel:+610383766284" class="footer__phone--accent">+61 (0) 383 766 284 </a>
  </div>
</div>
<div class="footer__copyright">
  <p>© 2019 - IceCream.</p>
  <p>All Rights Reserved.</p>
</div>
