<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer__motto">
        Homemade ice cream made
        <p class="footer__motto--accent">with passion</p>
      </div>
      <div class="footer__social-media">
        <ul class="footer__list">
          <li>
            <a class="footer__link" href="http://www.github.com">
              <svg class="footer__icon">
                <use xlink:href="images/footer/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__link" href="http://www.telegram.org">
              <svg class="footer__icon">
                <use xlink:href="images/footer/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="footer__link" href="http://www.facebook.com">
              <svg class="footer__icon">
                <use xlink:href="images/footer/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="footer__phone">
          Feel free to contact
          <a href="tel:+610383766284" class="footer__phone--accent">+61 (0) 383 766 284 </a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright-text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
