<section class="gallery" id="gallery">
  <h2 style="display: none">Gallery</h2>
  <div class="container">
    <div class="gallery-grid" id="lightgallery">
      <a href="./images/gallery/1.webp" class="img1 gallery-grid__border"
        ><img
          src="./images/gallery/thumb/1.webp"
          alt="green tea ice cream"
          class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/3.webp" class="img2 gallery-grid__border"
        ><img src="./images/gallery/thumb/3.webp" alt="craft ice cream" class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/2.webp" class="img3 gallery-grid__border"
        ><img src="./images/gallery/thumb/2.webp" alt="water ice cream" class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/4.webp" class="img4 gallery-grid__border"
        ><img src="./images/gallery/thumb/4.webp" alt="ice cream cones" class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/10.webp" class="img5 gallery-grid__border"
        ><img
          src="./images/gallery/thumb/10.webp"
          alt="anyone can lick"
          class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/5.webp" class="img6 gallery-grid__border"
        ><img
          src="./images/gallery/thumb/5.webp"
          alt="ice cream desserts"
          class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/6.webp" class="img7 gallery-grid__border"
        ><img src="./images/gallery/thumb/6.webp" alt="custom cones" class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/9.webp" class="img9 gallery-grid__border"
        ><img src="./images/gallery/thumb/9.webp" alt="ice coffee" class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/7.webp" class="img8 gallery-grid__border"
        ><img src="./images/gallery/thumb/7.webp" alt="vegan ice cream" class="gallery-grid__thumb"
      /></a>
      <a href="./images/gallery/8.webp" class="img10 gallery-grid__border"
        ><img
          src="./images/gallery/thumb/8.webp"
          alt="ice cream donuts with foamed milk"
          class="gallery-grid__thumb"
      /></a>
    </div>
  </div>
</section>
