<section>
  <div class="container">
    <div class="gallery" id="lightgallery">
      <a href="./images/gallery/1.jpg" class="img1 gallery__border"
        ><img
          src="./images/gallery/thumb/1.jpg"
          alt="green tea ice cream"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/3.jpg" class="img2 gallery__border"
        ><img
          src="./images/gallery/thumb/3.jpg"
          alt="craft ice cream"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/2.jpg" class="img3 gallery__border"
        ><img
          src="./images/gallery/thumb/2.jpg"
          alt="water ice cream"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/4.jpg" class="img4 gallery__border"
        ><img
          src="./images/gallery/thumb/4.jpg"
          alt="ice cream cones"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/10.jpg" class="img5 gallery__border"
        ><img
          src="./images/gallery/thumb/10.jpg"
          alt="anyone can lick"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/5.jpg" class="img6 gallery__border"
        ><img
          src="./images/gallery/thumb/5.jpg"
          alt="ice cream desserts"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/6.jpg" class="img7 gallery__border"
        ><img
          src="./images/gallery/thumb/6.jpg"
          alt="custom cones"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/9.jpg" class="img9 gallery__border"
        ><img src="./images/gallery/thumb/9.jpg" alt="ice coffee" srcset="" class="gallery__thumb"
      /></a>
      <a href="./images/gallery/7.jpg" class="img8 gallery__border"
        ><img
          src="./images/gallery/thumb/7.jpg"
          alt="vegan ice cream"
          srcset=""
          class="gallery__thumb"
      /></a>
      <a href="./images/gallery/8.jpg" class="img10 gallery__border"
        ><img
          src="./images/gallery/thumb/8.jpg"
          alt="ice cream donuts with foamed milk"
          srcset=""
          class="gallery__thumb"
      /></a>
    </div>
  </div>
</section>
