<div class="header">
  <img
    class="nav__background"
    src="images/header/nav-icecream.png"
    alt="icecream"
    srcset="images/header/nav-icecream@2x.png 480w, images/header/nav-icecream@3x.png 1280w"
  />
  <img class="nav__background--elipse" src="images/header/nav-elipse.png" alt="elipse" />
  <img
    class="nav__background--tasty"
    src="images/header/tasty.png"
    alt="tasty"
    srcset="images/header/tasty@2x.png 480w, images/header/tasty@3x.png 1280w"
  />
  <img
    class="nav__background--bio-eco-milk"
    src="images/header/bio-eco-milk.png"
    alt="milk"
    srcset="images/header/bio-eco-milk@2x.png 480w, images/header/bio-eco-milk@3x.png 1280w"
  />
  <div class="nav">
    <img class="nav__logo" src="images/header/icecream-logo.png" alt="logo" />
    <ul class="nav__menu">
      <li><a href="index.html" class="desktop-menu__link">Home</a></li>
      <li><a href="#100%-natural" class="desktop-menu__link">Our products</a></li>
      <li><a href="#how-it-is-made" class="desktop-menu__link">How it's made?</a></li>
      <li><a href="#gallery" class="desktop-menu__link">Gallery</a></li>

      <li><a href="#contacts" class="desktop-menu__link">Contact</a></li>
    </ul>
    <div class="tablet__buttons">
      <button
        class="menu-toggle open-button js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg
          width="20"
          height="20"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          ></path>
        </svg></button
      ><a href="#">
        <button class="tablet__menu-button">
          Buy now<svg class="button__tick" width="8" height="10" viewbox="0 0 8 10">
            <use xlink:href="images/header/button-tick.svg#tick"></use>
          </svg>
        </button>
      </a>
    </div>
  </div>

  <div class="nav__hero">
    <div class="nav__motto">
      <p class="nav__motto--main">Ice cream made with</p>
      <p class="nav__motto--accent">passion</p>

      <div class="nav__buttons">
        <button class="buttons__products">
          <a class="buttons__link--products" href="#products">Products</a></button
        ><button class="buttons__about">
          <a class="buttons__link--about" href="#about">How it's made?</a>
        </button>
      </div>
      <div class="nav__milk">
        <p class="nav__milk-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <img class="nav__arrow" src="images/header/arrow-right.png" alt="arrow" />
      </div>
    </div>
    <div class="nav__numbers">
      <div class="nav__cafes">
        <img class="nav__number-ellipse" src="images/header/ellipse.png" alt="ellipse" />
        <p class="nav__number">16</p>
        <p class="nav__number-description">cafes</p>
      </div>
      <div class="nav__trucks">
        <img class="nav__number-ellipse" src="images/header/ellipse.png" alt="ellipse" />
        <p class="nav__number">23</p>
        <p class="nav__number-description">food trucks</p>
      </div>
    </div>
  </div>
</div>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle close-button js-close-menu">
    <svg
      width="20"
      height="20"
      fill="currentColor"
      viewBox="0 0 20 20"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
        clip-rule="evenodd"
      ></path>
    </svg>
  </button>
  <div class="mobile-menu">
    <a href="">
      <button class="mobile-menu__button">
        Buy now<svg class="button__tick" width="8" height="10" viewbox="0 0 8 10">
          <use xlink:href="images/header/button-tick.svg#tick"></use>
        </svg>
      </button>
    </a>
    <ul class="mobile-menu__list">
      <li><a href="index.html" class="mobile-menu__link">Home</a></li>
      <li><a href="#100%-natural" class="mobile-menu__link">Our products</a></li>
      <li><a href="#how-it-is-made" class="mobile-menu__link">How it's made?</a></li>
      <li><a href="#gallery" class="mobile-menu__link">Gallery</a></li>

      <li><a href="#contacts" class="mobile-menu__link">Contact</a></li>
    </ul>
  </div>
</div>
