<section id="products" class="container container--products">
  <h2 class="pretitle">100% NATURAL</h2>
  <h3 class="title">PRODUCTS</h3>
  <ul class="products">
    <li class="products__product">
      <div class="products__box products__box--icecream">
        <h4 class="products__name">ICE CREAM</h4>
        <div class="products__textbox">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="read-more-button" type="button" data-icecream-modal-open>
          <img src="../src/images/products/arrow.png" alt="read more" />
        </button>
      </div>
    </li>
    <li class="products__product">
      <div class="products__box products__box--icecoffee">
        <h4 class="products__name">ICE COFFEE</h4>
        <div class="products__textbox">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="read-more-button" type="button" data-icecream1-modal-open>
          <img src="../src/images/products/arrow.png" alt="read more" />
        </button>
      </div>
    </li>
    <li class="products__product">
      <div class="products__box products__box--milkshake">
        <h4 class="products__name">MILKSHAKES</h4>
        <div class="products__textbox">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="read-more-button" type="button" data-icecream2-modal-open>
          <img src="../src/images/products/arrow.png" alt="read more" />
        </button>
      </div>
    </li>
  </ul>
</section>

<!-- MODAL ICECREA -->

<div class="modal__container is-hidden-order" data-icecream-modal>
        <div class="modal__background">
          <div class="modal modal-xl">
            <div class="pm-container">
              <h2 class="pm-container__title">ICE CREAM FLAVORS</h2>
              <ul class="pm-card">
                <li class="pm-card__item">
                  <img class="pm-card__img" src="./images/icecreams/1.webp" />
                  <h3 class="pm-card__title">Vanilla Bean Honey</h3>
                  <p class="pm-card__desc">
                    This isn't your typical vanilla. Using Madagascar vanilla extract and pure
                    vanilla bean paste, EPIC adds sweetness with pure honey from local farms to
                    create the very best vanilla ice cream. Rich and flavorful, yet light enough to
                    enjoy an entire pint at one sitting.
                  </p>
                  <p class="pm-card__spec">GLUTEN FREE</p>
                </li>
                <li class="pm-card__item">
                  <img class="pm-card__img" src="./images/icecreams/2.webp" />
                  <h3 class="pm-card__title">Vanilla Bean Honey</h3>
                  <p class="pm-card__desc">
                    This isn't your typical vanilla. Using Madagascar vanilla extract and pure
                    vanilla bean paste, EPIC adds sweetness with pure honey from local farms to
                    create the very best vanilla ice cream. Rich and flavorful, yet light enough to
                    enjoy an entire pint at one sitting.
                  </p>
                  <p class="pm-card__spec">GLUTEN FREE</p>
                </li>
                <li class="pm-card__item">
                  <img class="pm-card__img" src="./images/icecreams/3.webp" />
                  <h3 class="pm-card__title">Vanilla Bean Honey</h3>
                  <p class="pm-card__desc">
                    This isn't your typical vanilla. Using Madagascar vanilla extract and pure
                    vanilla bean paste, EPIC adds sweetness with pure honey from local farms to
                    create the very best vanilla ice cream. Rich and flavorful, yet light enough to
                    enjoy an entire pint at one sitting.
                  </p>
                  <p class="pm-card__spec">GLUTEN FREE</p>
                </li>
                <li class="pm-card__item">
                  <img class="pm-card__img" src="./images/icecreams/4.webp" />
                  <h3 class="pm-card__title">Vanilla Bean Honey</h3>
                  <p class="pm-card__desc">
                    This isn't your typical vanilla. Using Madagascar vanilla extract and pure
                    vanilla bean paste, EPIC adds sweetness with pure honey from local farms to
                    create the very best vanilla ice cream. Rich and flavorful, yet light enough to
                    enjoy an entire pint at one sitting.
                  </p>
                  <p class="pm-card__spec">GLUTEN FREE</p>
                </li>
                <li class="pm-card__item">
                  <img class="pm-card__img" src="./images/icecreams/5.webp" />
                  <h3 class="pm-card__title">Vanilla Bean Honey</h3>
                  <p class="pm-card__desc">
                    This isn't your typical vanilla. Using Madagascar vanilla extract and pure
                    vanilla bean paste, EPIC adds sweetness with pure honey from local farms to
                    create the very best vanilla ice cream. Rich and flavorful, yet light enough to
                    enjoy an entire pint at one sitting.
                  </p>
                  <p class="pm-card__spec">GLUTEN FREE</p>
                </li>
                <li class="pm-card__item">
                  <img class="pm-card__img" src="./images/icecreams/6.webp" />
                  <h3 class="pm-card__title">Vanilla Bean Honey</h3>
                  <p class="pm-card__desc">
                    This isn't your typical vanilla. Using Madagascar vanilla extract and pure
                    vanilla bean paste, EPIC adds sweetness with pure honey from local farms to
                    create the very best vanilla ice cream. Rich and flavorful, yet light enough to
                    enjoy an entire pint at one sitting.
                  </p>
                  <p class="pm-card__spec">GLUTEN FREE</p>
                </li>
              </ul>
            </div>

            <button type="button" id="cBtn" data-icecream-modal-close>
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
