<section id="products" class="container container--products">
  <h2 class="pretitle">100% NATURAL</h2>
  <h3 class="title">PRODUCTS</h3>
  <ul class="products">
    <li class="products__product">
      <div class="products__box products__box--icecream">
        <h4 class="products__name">ICE CREAM</h4>
        <div class="products__textbox">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="read-more-button" type="button">
          <img src= "../src/images/products/arrow.png" alt= "read more"/>
        </button>
      </div>
    </li>
    <li class="products__product">
      <div class="products__box products__box--icecoffee">
        <h4 class="products__name">ICE COFFEE</h4>
        <div class="products__textbox">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="read-more-button" type="button">
          <img src= "../src/images/products/arrow.png" alt= "read more"/>
        </button>
      </div>
    </li>
    <li class="products__product">
      <div class="products__box products__box--milkshake">
        <h4 class="products__name">MILKSHAKES</h4>
        <div class="products__textbox">
          <p class="products__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
        </div>
        <button class="read-more-button" type="button">
          <img src= "../src/images/products/arrow.png" alt= "read more"/>
        </button>
      </div>
    </li>
  </ul>
</section>