@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Titan+One&display=swap");
body {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: #ffb8ca;
  height: 502px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.logo-icecream {
  position: absolute;
  left: 20%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 20px 0 20px;
}
.nav__logo {
  width: 199px;
  height: 50px;
  z-index: 3;
}
.nav__hero {
  z-index: 4;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
}
.nav__hero-down {
  position: relative;
  display: flex;
}
.nav__buttons {
  display: flex;
  z-index: 3;
  top: 0;
  margin-top: 20px;
}
.nav__motto {
  top: 0;
  width: 168px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin: 0;
  margin-top: 137px;
}
.nav__motto p {
  padding: 0;
  margin: 0;
  z-index: 4;
}
.nav__motto--main {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}
.nav__motto--accent {
  font-size: 48px;
  line-height: 46px;
  color: #d41443;
  text-transform: uppercase;
}
.nav__background {
  position: absolute;
  z-index: 1;
  margin-top: 92px;
  margin-left: 83px;
  width: 171px;
  height: 410px;
}
.nav__background--elipse {
  position: absolute;
  width: 346px;
  height: 344px;
  z-index: 0;
  margin-top: 72px;
}
.nav__background--tasty {
  display: none;
}
.nav__background--bio-eco-milk {
  display: none;
}
.nav__milk {
  display: none;
}
.nav__numbers {
  display: none;
}
.nav__menu {
  display: none;
}

.buttons {
  z-index: 50;
}
.buttons__products {
  background: #d41443;
  border-radius: 20px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61.2px;
  height: 24px;
  margin-right: 8px;
  color: #ffffff;
  text-decoration: none;
}
.buttons__about {
  background: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82.8px;
  height: 24px;
  text-decoration: none;
  color: #d41443;
}

.menu-toggle {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  right: 20px;
  color: #ffffff;
}

.mobile-menu {
  padding: 0;
  margin-top: 60px;
}
.mobile-menu__list {
  list-style: none;
  padding: 0;
  margin-left: 21px;
}
.mobile-menu__link {
  display: block;
  padding-top: 22px;
  color: #ffffff;
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
}
.mobile-menu__button {
  width: 209px;
  height: 44px;
  color: #d41443;
  background-color: #ffffff;
  border: none;
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 21px;
  cursor: pointer;
}
.mobile-menu a {
  text-decoration: none;
}

.button__tick {
  margin-left: 16px;
}

.mobile-menu__link:hover {
  color: #d41443;
}

.open-button {
  position: relative;
  color: #d41443;
  stroke: 1px;
  margin-top: 18px;
  z-index: 50;
}

.close-button {
  color: #ffffff;
  margin-top: 23px;
}

.tablet__menu-button {
  display: none;
}

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.modal__container.in .modal__background {
  background: rgba(0, 0, 0, 0);
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal__container.in .modal__background .modal {
  -webkit-animation: slideIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: slideIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal__container.out {
  -webkit-animation: quickScaleDown 0s 0.5s linear forwards;
          animation: quickScaleDown 0s 0.5s linear forwards;
}
.modal__container.out .modal__background {
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.modal__container.out .modal__background .modal {
  -webkit-animation: slideOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: slideOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal__background {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 47;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  top: 10%;
  overflow: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 4px;
}
.modal button[type=button] {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes quickScaleDown {
  0% {
    transform: scale(0);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes quickScaleDown {
  0% {
    transform: scale(0);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-1500px) scaleX(1) rotate(360deg);
  }
  70% {
    transform: translateX(30px) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) scaleX(1) rotate(0deg);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-1500px) scaleX(1) rotate(360deg);
  }
  70% {
    transform: translateX(30px) scaleX(0.9);
  }
  100% {
    transform: translateX(0px) scaleX(1) rotate(0deg);
  }
}
@-webkit-keyframes slideOut {
  0% {
    transform: translateX(0px) scaleX(1) rotate(0deg);
  }
  30% {
    transform: translateX(-30px) scaleX(1.1);
  }
  100% {
    transform: translateX(1500px) scaleX(1) rotate(360deg);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(0px) scaleX(1) rotate(0deg);
  }
  30% {
    transform: translateX(-30px) scaleX(1.1);
  }
  100% {
    transform: translateX(1500px) scaleX(1) rotate(360deg);
  }
}
.is-hidden-order {
  display: none;
}

.order {
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(/images/about/about-desctopsectionbg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}
.order__logo {
  width: 200px;
  padding: 20px 0 20px 0;
}
.order__label > .label__title {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.04em;
  color: #d41443;
}
.order__container {
  display: flex;
  flex-direction: column;
}
.order__input {
  width: 100%;
  height: 40px;
  text-indent: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 5px;
  margin-top: 4px;
  margin-bottom: 15px;
  outline: none;
}
.order__button {
  width: 200px;
  height: 50px;
  background-color: #d41443;
  font-family: "DM Sans";
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  border: none;
  margin: 15px auto 40px auto;
}

#order__comment {
  width: 100%;
  height: 120px;
  resize: none;
}

@media screen and (min-width: 768px) {
  .header {
    height: 399px;
  }
  .logo-icecream {
    position: absolute;
    left: 32%;
    top: 38px;
  }
  .tablet__menu-button {
    width: 160px;
    height: 44px;
    color: #d41443;
    background-color: #ffffff;
    border: none;
    border-radius: 22px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
  }
  .tablet__buttons {
    display: flex;
    height: 50px;
  }
  .tablet__buttons a {
    text-decoration: none;
  }
  .open-button {
    padding-top: 12px;
    margin-top: 0;
  }
  .nav__logo {
    margin-top: 0;
  }
  .nav {
    position: absolute;
    width: 100%;
    padding: 38px 34px 0 34px;
    z-index: 100;
  }
  .nav__hero {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 34px;
  }
  .nav__hero-down {
    padding: 0 34px;
  }
  .nav__motto {
    margin-top: 102px;
  }
  .nav__motto--main {
    font-size: 22px;
    line-height: 25px;
    padding-top: 15px;
  }
  .nav__motto--accent {
    font-size: 37px;
    line-height: 42px;
  }
  .nav__background {
    position: absolute;
    width: 143px;
    height: 336px;
    margin-top: 25px;
    margin-left: 166px;
  }
  .nav__background--elipse {
    position: absolute;
    width: 324px;
    height: 322px;
    margin-left: 88px;
    margin-top: 0;
  }
  .nav__background--tasty {
    display: block;
    position: absolute;
    width: 168px;
    height: 133px;
    right: 34px;
    bottom: 0;
    transform: translateY(21px);
    z-index: 20;
  }
  .nav__background--bio-eco-milk {
    display: block;
    width: 124px;
    height: 126px;
  }
  .nav__milk {
    display: flex;
  }
  .nav__milk-description {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans";
    font-style: normal;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
    width: 114px;
    text-transform: none;
    padding-top: 44px;
  }
  .nav__arrow {
    margin-top: 7px;
    width: 18px;
    height: 18px;
  }
  .nav__numbers {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 13px;
    padding-top: 102px;
  }
  .nav__number {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .nav__number-description {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    text-align: right;
    color: #ffffff;
  }
  .nav__number-ellipse {
    position: absolute;
    right: -10px;
    z-index: -1;
  }
  .nav__menu {
    display: none;
  }
  .mobile-menu__button {
    width: 186px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 665px;
  }
  .logo-icecream {
    left: 41%;
    top: 84px;
  }
  .nav {
    position: relative;
    width: 100%;
    padding: 37px 115px 0 46px;
    z-index: 100;
  }
  .nav__hero {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 115px 0 115px;
  }
  .nav__hero-down {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 274px;
  }
  .nav__motto {
    width: 277px;
  }
  .nav__motto--main {
    font-size: 38px;
    line-height: 44px;
  }
  .nav__motto--accent {
    font-size: 58px;
    line-height: 52.49px;
  }
  .nav__menu {
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 16px;
    line-height: 21px;
  }
  .nav__background {
    position: absolute;
    width: 236px;
    height: 557px;
    margin-left: 110px;
  }
  .nav__background--elipse {
    position: absolute;
    width: 538px;
    height: 538px;
    margin-left: 0;
    margin-top: 0;
  }
  .nav__background--tasty {
    display: block;
    position: absolute;
    width: 293px;
    height: 232px;
    right: 109px;
    bottom: 0;
    z-index: 20;
  }
  .nav__background--bio-eco-milk {
    display: block;
    width: 188px;
    height: 191px;
  }
  .nav__milk {
    display: flex;
    flex-direction: row;
  }
  .nav__milk-description {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    width: 200px;
    height: 78px;
    text-transform: none;
    letter-spacing: 0.04em;
    padding-top: 52px;
  }
  .nav__arrow {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
  .nav__numbers {
    display: flex;
    flex-direction: column;
    padding-top: 74px;
    position: relative;
    gap: 13px;
  }
  .nav__number {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 53px;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d41443;
  }
  .nav__number-description {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #ffffff;
    margin-top: 2px;
  }
  .nav__number-ellipse {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    z-index: -1;
  }
  .nav__buttons {
    margin-top: 25px;
  }
  .tablet__menu-button {
    width: 160px;
    height: 44px;
    color: #d41443;
    background-color: #ffffff;
    border: none;
    border-radius: 22px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
  }
  .tablet__buttons {
    display: flex;
    height: 50px;
  }
  .tablet__buttons a {
    text-decoration: none;
  }
  .nav__logo {
    margin-top: 0;
  }
  .buttons {
    font-size: 14px;
    line-height: 18px;
  }
  .buttons__about {
    width: 138px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
  .buttons__products {
    width: 104px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
  }
  .menu-toggle {
    display: none;
  }
  .desktop-menu__link {
    color: #ffffff;
    text-decoration: none;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
  }
  .desktop-menu__link:hover {
    color: #d41443;
  }
}
@media screen and (min-width: 479px) {
  .modal {
    width: 80%;
    min-width: 260px;
    max-width: 450px;
    max-height: 80%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.arrow-back-to-top {
  color: #d41443;
}

#myBtn {
  width: 50px;
  height: 50px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #ffb8ca;
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: 0px auto;
}
.container--products {
  font-family: Titan One;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-align: center;
  color: #FFFFFF;
  padding-bottom: 98px;
  padding: 121px 6.25% 98px 6.25%;
}
@media (min-width: 768px) {
  .container--products {
    padding: 122px 4.427% 112px 4.427%;
  }
}
@media (min-width: 1200px) {
  .container--products {
    padding: 127px 9.66% 119px 9.66%;
  }
}

.pretitle {
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0em;
  color: #FFA5BA;
}
@media (min-width: 768px) {
  .pretitle {
    font-size: 26px;
  }
}
@media (min-width: 1200px) {
  .pretitle {
    font-size: 30px;
  }
}

.title {
  font-size: 34px;
  line-height: 1.147;
  color: #D41443;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .title {
    font-size: 48px;
  }
}
@media (min-width: 1200px) {
  .title {
    font-size: 58px;
  }
}

@media (min-width: 768px) {
  .products {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .products {
    margin-top: 75px;
  }
}
.products__product {
  margin-top: 130px;
}
@media (min-width: 768px) {
  .products__product:nth-child(2n) {
    margin-left: 2.604%;
    margin-right: 2.604%;
  }
}
@media (min-width: 1200px) {
  .products__product:nth-child(2n) {
    margin-left: 2.41%;
    margin-right: 2.41%;
  }
}
.products__box {
  border-radius: 24px;
  position: relative;
}
.products__box--icecream {
  background-color: #FFB8CA;
}
.products__box--icecream::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/products/icecream-249.webp);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: -48%;
  background-position: 50% 50%;
  z-index: 5;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__box--icecream::after {
    background-image: url(../images/products/icecream-498.webp);
  }
}
@media (min-width: 768px) {
  .products__box--icecream::after {
    background-image: url(../images/products/icecream-220.webp);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .products__box--icecream::after {
    background-image: url(../images/products/icecream-440.webp);
  }
}
@media (min-width: 1200px) {
  .products__box--icecream::after {
    background-image: url(../images/products/icecream-335.webp);
    top: -59%;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .products__box--icecream::after {
    background-image: url(../images/products/icecream-670.webp);
    top: -59%;
  }
}
.products__box--icecoffee {
  background-color: #F0D1A5;
}
.products__box--icecoffee::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/products/icecoffee-249.webp);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: -48%;
  background-position: 50% 50%;
  z-index: 5;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__box--icecoffee::after {
    background-image: url(../images/products/icecoffee-498.webp);
  }
}
@media (min-width: 768px) {
  .products__box--icecoffee::after {
    background-image: url(../images/products/icecoffee-220.webp);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .products__box--icecoffee::after {
    background-image: url(../images/products/icecoffee-440.webp);
  }
}
@media (min-width: 1200px) {
  .products__box--icecoffee::after {
    background-image: url(../images/products/icecoffee-335.webp);
    top: -59%;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .products__box--icecoffee::after {
    background-image: url(../images/products/icecoffee-670.webp);
    top: -59%;
  }
}
.products__box--milkshake {
  background-color: #C2E297;
}
.products__box--milkshake::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/products/milkshake-249.webp);
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  top: -48%;
  background-position: 50% 50%;
  z-index: 5;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .products__box--milkshake::after {
    background-image: url(../images/products/milkshake-498.webp);
  }
}
@media (min-width: 768px) {
  .products__box--milkshake::after {
    background-image: url(../images/products/milkshake-220.webp);
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .products__box--milkshake::after {
    background-image: url(../images/products/milkshake-440.webp);
  }
}
@media (min-width: 1200px) {
  .products__box--milkshake::after {
    background-image: url(../images/products/milkshake-335.webp);
    top: -59%;
  }
}
@media (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .products__box--milkshake::after {
    background-image: url(../images/products/milkshake-670.webp);
    top: -59%;
  }
}
.products__name {
  padding-top: 161px;
  font-size: 20px;
  line-height: 1.15;
  position: relative;
}
.products__name::after {
  content: "...";
  width: 100%;
  height: 6px;
  border-radius: 2px;
  display: block;
  position: absolute;
  top: 200px;
  right: 0px;
  letter-spacing: 0.2em;
}
@media (min-width: 1200px) {
  .products__name {
    font-size: 30px;
  }
}
.products__description {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 420px) {
  .products__description {
    font-size: 15px;
  }
}
@media (min-width: 520px) {
  .products__description {
    font-size: 16px;
  }
}
@media (min-width: 620px) {
  .products__description {
    font-size: 17px;
  }
}
@media (min-width: 720px) {
  .products__description {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .products__description {
    font-size: 16px;
  }
}
.products__textbox {
  margin: 66px 10% 0px 10%;
}

.read-more {
  background-color: rgba(1, 1, 1, 0);
  border-color: rgba(1, 1, 1, 0);
  margin: 41px auto;
  z-index: 6;
}
.read-more:hover {
  cursor: pointer;
}

h2,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about {
  min-width: 320px;
  margin: 0 auto;
  background-color: #FFF5F6;
  background-image: url(../images/about/about-mobilesectionbg.png);
  background-repeat: no-repeat;
  background-position: bottom 3% right 50%;
  background-size: 100%;
}

.about__logo {
  padding-top: 26px;
  padding-bottom: 47px;
}

.about__logo-img {
  margin: 0 auto;
  min-width: 270px;
  max-width: 516px;
  width: 100%;
  min-height: 269px;
  max-height: 516px;
  height: 100%;
}

.about__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
  letter-spacing: 0.04em;
  color: #FFA5BA;
  padding-top: 125px;
  font-family: "Titan One";
  text-transform: uppercase;
}

.about__title {
  text-align: center;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 76px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  color: #D41443;
  font-family: "Titan One";
  text-transform: uppercase;
}

.div-item__desc-1 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  padding-bottom: 25px;
  margin: 0 30px;
}

.div-item__desc-2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907E82;
  padding-bottom: 15px;
  margin: 0 30px;
}

.div-item__desc-3 {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907E82;
  padding-bottom: 20px;
  margin: 0 30px;
}

.div-item__btn {
  margin: 0 30px;
  padding: 18px 0px 18px 38px;
  width: 176px;
  height: 44px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  background-color: #FFFFFF;
  border: none;
  border-radius: 22px;
  color: #D41443;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.31;
}
.div-item__btn:hover {
  background-color: #ECEBEB;
}

.div-item__btn-svg {
  margin-left: 13.63px;
  width: 7px;
  height: 13px;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/about-mobilesectionbgx2.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .about {
    background-image: url(../images/about/about-mobilesectionbgx3.png);
  }
}
@media screen and (min-width: 481px) {
  .about__title {
    min-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    background-image: none;
  }
  .about__subtitle {
    font-size: 25px;
    line-height: 1.154;
    padding-top: 130px;
  }
  .about__title {
    margin-top: 16px;
    width: 100%;
    height: 55px;
    font-size: 48px;
    line-height: 1.146;
  }
  .about__items {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 17px;
         column-gap: 17px;
  }
  .about__item {
    flex-basis: calc(50% - 17px);
  }
  .about__logo {
    padding-top: 0px;
  }
  .about__logo-img {
    min-width: 340px;
    width: 100%;
    min-height: 339px;
    height: 100%;
  }
  .about__div-items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 100px;
  }
  .div-item__desc-1 {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    padding-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .div-item__desc-2 {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    padding-bottom: 12px;
    margin-right: 3px;
    margin-left: 0px;
  }
  .div-item__desc-3 {
    font-size: 14px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    padding-bottom: 55px;
    margin-right: 16px;
    margin-left: 0px;
  }
  .div-item__btn {
    margin-left: 0px;
    padding: 18px 0px 18px 37px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    background-image: url(../images/about/about-desctopsectionbg.png);
    background-repeat: no-repeat;
    background-position: right 50% bottom -65px;
    background-size: 100%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/about-desctopsectionbgx2.png);
    background-position: right 50% bottom -65px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .about {
    background-image: url(../images/about/about-desctopsectionbgx3.png);
    background-position: right 50% bottom -65px;
  }
}
@media screen and (min-width: 1280px) {
  .about__subtitle {
    font-size: 30px;
    line-height: 1.133;
    padding-top: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .about__title {
    margin-top: 15px;
    margin-bottom: 65px;
    width: 100%;
    height: 55px;
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1280px) {
  .about__logo {
    width: 516px;
    height: 516px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .about__logo-img {
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .about__items {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
    -moz-column-gap: 74px;
         column-gap: 74px;
  }
}
@media screen and (min-width: 1280px) {
  .about__item {
    flex-basis: calc(50% - 74px);
  }
}
@media screen and (min-width: 1280px) {
  .about__div-items {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-right: 20px;
    -moz-column-gap: 35px;
         column-gap: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .div-item__desc-1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.04em;
    padding-bottom: 30px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .div-item__desc-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .div-item__desc-3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.94;
    letter-spacing: 0.04em;
    padding-bottom: 35px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .div-item__btn {
    margin-bottom: 65px;
    margin-left: 0px;
    font-size: 16px;
  }
}
@media screen and (min-width: 2200px) {
  .about {
    background-position: right 50% bottom -140px;
    background-size: 100% 94vh;
  }
}
.about-read-more {
  z-index: 100;
  position: fixed;
  min-width: 320px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translate(0, 0);
  -webkit-animation: fadeIn 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
          animation: fadeIn 750ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.about-read-more__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #FFF5F6;
  background-image: url(../images/about/about-mobilesectionbg.png);
  background-repeat: no-repeat;
  background-position: bottom 3% right 50%;
  background-size: 100%;
  -webkit-animation: slideInMobile 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slideInMobile 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.about-read-more__button-close {
  position: absolute;
  margin: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #FFF5F6;
  fill: #D41443;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.about-read-more__button-close:hover, .about-read-more__button-close:focus {
  background-color: #ECEBEB;
  fill: #FFA5BA;
}

.about-read-more__icon-close {
  margin: 5px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 5s, opacity 5s;
  -webkit-animation: fadeOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: fadeOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}
.is-hidden .about-read-more__modal {
  -webkit-animation: slideOutMobile 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
          animation: slideOutMobile 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  transition: opacity 5s, visibility 5s;
}

.read-more {
  position: relative;
  margin-top: 50px;
  margin-bottom: 20px;
}

.read-more__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
  color: #FFA5BA;
  padding-top: 2vh;
  font-family: "Titan One";
  text-transform: uppercase;
}

.read-more__title {
  text-align: center;
  margin-top: 2vh;
  margin-right: auto;
  margin-left: auto;
  width: 95%;
  height: 76px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.145;
  color: #D41443;
  font-family: "Titan One";
  text-transform: uppercase;
}

.read-more__text-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 50px);
  overflow: auto;
  height: 50%;
  max-height: 25vh;
}

.read-more__text {
  padding-bottom: 5px;
  text-indent: 20px;
  text-align: justify;
  font-size: 0.8em;
  line-height: 1.96;
  letter-spacing: 0.03em;
}
.read-more__text::first-letter {
  font-size: 2em;
}

@media screen and (max-width: 479px) {
  .about-read-more__modal {
    width: 80%;
    min-width: 260px;
    max-width: 450px;
    height: 70%;
    max-height: 460px;
  }
  .read-more__title {
    height: auto;
    margin-bottom: 4vh;
  }
  .read-more__text-box {
    overflow: auto;
    max-height: 26vh;
  }
  .read-more__text {
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .about-read-more__modal {
    width: 450px;
    height: 85%;
    max-height: 500px;
  }
  .read-more__subtitle {
    padding-top: 2vh;
  }
  .read-more__title {
    height: auto;
    margin-bottom: 4vh;
  }
  .read-more__text-box {
    overflow: auto;
    max-height: 25vh;
  }
  .read-more__text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-read-more__modal {
    width: 450px;
    height: 85%;
    max-height: 550px;
  }
  .read-more__subtitle {
    padding-top: 2vh;
  }
  .read-more__title {
    height: auto;
    margin-bottom: 1vh;
  }
  .read-more__text-box {
    overflow: auto;
    max-height: 26vh;
  }
  .read-more__text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1280px) {
  .about-read-more__modal {
    width: 680px;
    height: 690px;
    -webkit-animation: slideIn 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            animation: slideIn 750ms cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
  .read-more__text-box {
    overflow: auto;
    max-height: 36vh;
  }
  .read-more__text {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 0.8em;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
  .read-more__title {
    height: 7vh;
  }
  .is-hidden .about-read-more__modal {
    -webkit-animation: slideOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            animation: slideOut 5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  }
}
@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.4);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.4);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-15000px) scale(0.75);
  }
  70% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(-50%, -50%) scale(1);
  }
  60% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateX(3000px) scale(0.5);
  }
}
@-webkit-keyframes slideInMobile {
  0% {
    transform: translateY(-5000px) scale(0.5);
  }
  70% {
    transform: translateX(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@keyframes slideInMobile {
  0% {
    transform: translateY(-5000px) scale(0.5);
  }
  70% {
    transform: translateX(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translateX(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes slideOutMobile {
  0% {
    transform: translateX(-50%, -50%) scale(1);
  }
  30% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateY(5000px) scale(0.5);
  }
}
@keyframes slideOutMobile {
  0% {
    transform: translateX(-50%, -50%) scale(1);
  }
  30% {
    transform: translateX(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translateY(5000px) scale(0.5);
  }
}
/*

          advantages

*/
.invisible {
  display: none;
}

h1,
h2,
h3,
p,
ul {
  font-style: normal;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.section-advantages {
  background: #fff5f6;
  width: 100%;
  background-size: 100%;
}

.advantages__list {
  row-gap: 38px;
  padding: 39px 0 97px 0;
}
.advantages__list-elem-721::before {
  content: url(/images/advantages/721-img.png);
  width: 33px;
  height: 50px;
  bottom: 16px;
  display: inline-block;
}
.advantages__list-elem-16 {
  padding-top: 38px;
}
.advantages__list-elem-16::before {
  content: url(/images/advantages/16kg-img.png);
  width: 50px;
  height: 50px;
  bottom: 16px;
  display: inline-block;
}
.advantages__list-elem-84 {
  padding-top: 38px;
}
.advantages__list-elem-84::before {
  display: inline-block;
  content: url(/images/advantages/84-img.png);
  width: 44px;
  height: 50px;
  bottom: 16px;
}
.advantages__list-elem-name {
  padding-bottom: 25px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  color: #d41443;
  font-family: "Titan One";
}
.advantages__list-elem-desc {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    -moz-column-gap: 60px;
         column-gap: 60px;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 66px 0 140px 0;
  }
  .advantages__list-elem-721, .advantages__list-elem-16, .advantages__list-elem-84 {
    padding-top: 0;
    flex-basis: calc(33.3333333333% - 60px);
  }
  .advantages__list-elem-name {
    padding: 0;
    padding-top: 36px;
    font-size: 48px;
  }
  .advantages__list .advantages__list-elem-desc {
    padding: 0;
    padding-top: 13px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .advantages__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding: 39px 0 139px 0;
  }
  .advantages__list-elem-721, .advantages__list-elem-16, .advantages__list-elem-84 {
    padding-top: 0;
    flex-basis: calc(33.3333333333% - 30px);
  }
  .advantages__list-elem-name {
    padding: 0;
    padding-top: 40px;
    font-size: 58px;
  }
  .advantages__list .advantages__list-elem-desc {
    padding: 0;
    padding-top: 15px;
    font-size: 16px;
    max-width: 80%;
  }
}
.gallery {
  background: linear-gradient(180deg, rgb(255, 245, 246) 0%, rgb(255, 255, 255) 100%);
  width: 100%;
}

.gallery-grid {
  min-width: 280px;
  padding: 25px 25px;
  display: grid;
  grid-template-columns: repeat(14, minmax(15px, 100%));
  grid-template-rows: repeat(6, minmax(15px, 100%));
  gap: 1px 1px;
  grid-template-areas: ". . . . img4 img4 img4 img4 . . img8 img8 . ." ". . img2 img2 img4 img4 img4 img4 img6 img6 img8 img8 img10 img10" "img1 img1 img2 img2 img4 img4 img4 img4 img6 img6 img9 img9 img10 img10" "img1 img1 img3 img3 img4 img4 img4 img4 img7 img7 img9 img9 . ." ". . img3 img3 img5 img5 . . img7 img7 . . . ." ". . . . img5 img5 . . . . . . . .";
}
.gallery-grid__border {
  overflow: hidden;
  border-radius: 7px;
}
.gallery-grid__thumb {
  display: block;
  width: 100%;
  height: 100%;
}
.gallery-grid__thumb:hover {
  transform: scale(1.2);
  transition: all 0.9s cubic-bezier(0.91, 0.64, 0.29, 0.02);
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
  transform: translateY(15%);
}

.img7 {
  grid-area: img7;
  transform: translateY(15%);
}

.img8 {
  grid-area: img8;
  transform: translateY(35%);
}

.img9 {
  grid-area: img9;
  transform: translateY(35%);
}

.img10 {
  grid-area: img10;
  transform: translateY(60%);
}

@media only screen and (min-width: 768px) {
  .gallery {
    gap: 3px 3px;
  }
}
@media only screen and (min-width: 1280px) {
  .gallery {
    gap: 6px 6px;
  }
}
.splide__container {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
}
.splide__img-box {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
}
.splide__img {
  height: 85px;
  width: 85px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
}
.splide__opinion-box {
  background: #fafafa;
  padding: 42px 60px;
  margin-bottom: 30px;
}
.splide__opinion {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  background-image: repeating-linear-gradient(to bottom, #fafafa, #fafafa 28px, rgb(225, 225, 225) 28px, rgb(225, 225, 225) 29.76px);
  background-origin: content-box;
  width: 100%;
  position: relative;
  z-index: 2;
}
.splide__opinion::before {
  left: -15px;
  top: -15px;
  z-index: -1;
  position: absolute;
  content: url("data:image/svg+xml,%3Csvg width='54' height='40' viewBox='0 0 54 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.0179 2.59234e-06C42.4286 2.80309e-06 44.7054 0.650413 46.8482 1.95122C48.9911 3.25204 50.7321 5.12196 52.0714 7.56098C53.3571 10 54 12.8726 54 16.1789C54 19.4851 53.1964 22.71 51.5893 25.8537C51.0536 26.9919 50.0893 28.4553 48.6964 30.2439C47.25 32.0325 45.9107 33.5772 44.6786 34.878L39.6161 40L36 33.9837C38.5179 32.4119 40.7411 30.4607 42.6696 28.1301C44.5982 25.8537 45.5625 23.7669 45.5625 21.8699C45.5625 20.8943 45.3482 20.1084 44.9196 19.5122C43.0446 20.8672 40.9554 21.5447 38.6518 21.5447C36.9911 21.5447 35.4107 21.0298 33.9107 20C32.3571 19.0244 31.125 17.7236 30.2143 16.0976C29.25 14.5257 28.7679 12.8997 28.7679 11.2195C28.7679 9.32249 29.3304 7.50678 30.4554 5.77236C31.5268 4.03794 32.9464 2.62873 34.7143 1.54472C36.4286 0.51491 38.1964 2.43311e-06 40.0179 2.59234e-06ZM11.1696 7.03482e-08C13.5804 2.81099e-07 15.8571 0.65041 18 1.95122C20.1429 3.25203 21.8839 5.12195 23.2232 7.56098C24.5089 10 25.1518 12.8726 25.1518 16.1789C25.1518 18.5095 24.8571 20.5962 24.2679 22.439C23.6786 24.336 22.6607 26.3144 21.2143 28.374C19.8214 30.3252 18.5089 31.9512 17.2768 33.252C16.0446 34.607 13.9018 36.8564 10.8482 40L7.23214 33.9837C9.75 32.4119 11.9732 30.4607 13.9018 28.1301C15.8304 25.8537 16.7946 23.7669 16.7946 21.8699C16.7946 20.8943 16.5804 20.1084 16.1518 19.5122C14.2768 20.8672 12.1875 21.5447 9.88393 21.5447C8.22321 21.5447 6.64285 21.0298 5.14285 20C3.58928 19.0244 2.35714 17.7236 1.44643 16.0976C0.482142 14.5257 -1.44552e-06 12.8997 -1.29863e-06 11.2195C-1.13278e-06 9.32249 0.535712 7.50677 1.60714 5.77236C2.67857 4.03794 4.09821 2.62873 5.86607 1.54472C7.58036 0.514908 9.34821 -8.88862e-08 11.1696 7.03482e-08Z' fill='%23E1E1E1'/%3E%3C/svg%3E");
}
.splide__dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.splide__dots-item {
  border-radius: 50%;
  background: #c7133e;
  width: 4px;
  height: 4px;
}
.splide__signature {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  color: #000000;
}

.splide__pagination__home {
  margin: 18px;
  height: 12px;
  width: 12px;
  background: #d9d9d9;
}

.splide__pagination__home.is-active::before {
  content: "";
  position: relative;
  top: -2px;
  background-image: url(../images/customer_reviews/home.svg);
  background-position: center;
  display: inline-block;
  width: 12.4px;
  height: 12px;
}

.splide__pagination.splide__home {
  position: static;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .splide__opinion-box {
    padding: 46px 89px;
  }
  .splide__container {
    padding-left: 77px;
    padding-right: 77px;
    padding-top: 121px;
  }
}
@media screen and (min-width: 1200px) {
  .splide__container {
    padding-left: 177px;
    padding-right: 177px;
  }
}
.hidden {
  display: none;
}

.filler {
  padding-top: 14.78px;
  padding-bottom: 14.78px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  opacity: 0;
}

.products-section {
  background-image: linear-gradient(to bottom, #ffffff 5.29%, #fff5f6 5.29%, #fff5f6);
}
@media (min-width: 768px) {
  .products-section {
    background-image: linear-gradient(to bottom, #ffffff 22.5%, #fff5f6 22.5%, #fff5f6);
  }
}

.container {
  min-width: 320px;
  max-width: 1280px;
  margin: auto;
}
.container--contacts {
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #907e82;
  padding: 0px 15.625% 98px 15.625%;
}
@media (min-width: 768px) {
  .container--contacts {
    padding: 119px 4.6875% 165px 4.6875%;
  }
}
@media (min-width: 1200px) {
  .container--contacts {
    padding: 132px 9.58% 165px 9.58%;
  }
}

@media (min-width: 768px) {
  .contacts {
    display: flex;
  }
}
.contacts__contact {
  margin-top: 20px;
  text-align: left;
}
@media (min-width: 768px) {
  .contacts__contact:nth-child(2n) {
    margin-left: 2.604%;
    margin-right: 2.604%;
  }
}
@media (min-width: 1200px) {
  .contacts__contact:nth-child(2n) {
    margin-left: 2.41%;
    margin-right: 2.41%;
  }
}
.contacts__box {
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1019607843);
  border-radius: 24px;
  background-color: #ffffff;
}
.contacts__textbox {
  margin: 0px 7.15% 0px 7.15%;
}
@media (min-width: 768px) {
  .contacts__textbox {
    margin: 0px 15.17% 0px 15.17%;
  }
}
.contacts__textbox--middle {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.contacts__textbox--last {
  padding-top: 25px;
  padding-bottom: 43px;
}
.contacts__place-type {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 6px;
  display: inline-block;
  color: #ffffff;
  padding: 0px 25px;
  line-height: 1.86;
  letter-spacing: 0.04em;
}
.contacts__place-type--cafe {
  background-color: #f0d1a5;
}
.contacts__place-type--foodtruck {
  background-color: #c2e297;
}
@media (min-width: 768px) {
  .contacts__place-type--foodtruck {
    padding: 0px 7px;
  }
}
@media (min-width: 627px) {
  .contacts__place-type--foodtruck {
    padding: 0px 16px;
  }
}
@media (min-width: 768px) {
  .contacts__place-type {
    font-size: 16px;
  }
}
.contacts__city {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000000;
}
@media (min-width: 768px) {
  .contacts__city {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__city {
    font-size: 16px;
  }
}
.contacts__description {
  line-height: 1.5;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .contacts__description {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__description {
    font-size: 16px;
  }
}
.contacts__days {
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.86;
  color: #000000;
}
@media (min-width: 768px) {
  .contacts__days {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__days {
    font-size: 16px;
  }
}
.contacts__hours {
  line-height: 1.86;
  color: #ffa5ba;
}
@media (min-width: 768px) {
  .contacts__hours {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__hours {
    font-size: 16px;
  }
}
.contacts__phone, .contacts__mail {
  width: 100%;
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  color: #907e82;
}
@media (min-width: 627px) {
  .contacts__phone, .contacts__mail {
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  .contacts__phone, .contacts__mail {
    font-size: 16px;
  }
}

.contact-button {
  font-weight: 700;
  font-size: 16px;
  display: block;
  margin: 0px auto;
  border: none;
  width: 161.45px;
  border-radius: 22px;
  padding: 15px 0px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-button:hover, .contact-button:focus {
  cursor: pointer;
}
.contact-button--locations {
  color: #ffffff;
  background-color: #d41342;
  margin-top: 54px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .contact-button--locations {
    display: inline;
    margin-right: 7.25px;
  }
}
.contact-button--franchise {
  color: #d41443;
  background-color: #ffffff;
}
.contact-button--franchise:hover, .contact-button--franchise:focus {
  background-color: #ecebeb;
}
@media (min-width: 768px) {
  .contact-button--franchise {
    display: inline;
    margin-left: 7.25px;
  }
}
.contact-button__text {
  padding-right: 5px;
}

.modal__map {
  width: 50vw;
  height: 50vh;
  max-width: 100%;
  top: 25%;
}

.map-close {
  z-index: 10;
}

.footer {
  width: 100%;
  background-color: #fff5f6;
}
.footer__main {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.footer__motto {
  width: 232px;
  font-family: "Titan One";
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffa5ba;
}
.footer__motto--accent {
  margin-top: 17px;
  font-size: 34px;
  line-height: 39px;
  color: #d41443;
  letter-spacing: 0.04em;
}
.footer__social-media {
  padding-top: 43px;
}
.footer__list {
  margin: 0;
  width: 100%;
  gap: 28px;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}
.footer__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50px;
  background-color: #fea5bb;
}
.footer__icon {
  width: 18px;
  height: 18px;
}
.footer__phone {
  display: flex;
  justify-content: flex-end;
  font-family: DM Sans;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
  color: #000;
  margin-top: 46px;
}
.footer__phone--accent {
  font-family: DM Sans;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  padding-left: 3px;
  text-decoration: none;
  color: #d41443;
}
.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89px;
  border-top: 1px solid #e1e1e1;
  margin-top: 43px;
  color: #907e82;
}
.footer__copyright-text {
  width: 150px;
}

@media screen and (min-width: 768px) {
  .footer__main {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 36px;
  }
  .footer__motto {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    width: 340px;
  }
  .footer__motto--accent {
    font-size: 48px;
    line-height: 55px;
    width: 340px;
  }
  .footer__social-media {
    padding: 0;
  }
  .footer__copyright {
    height: 73px;
  }
  .footer__copyright-text {
    width: 276px;
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1280px) {
  .footer__main {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__motto {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
    width: 474px;
  }
  .footer__motto--accent {
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.04em;
    width: 474px;
  }
  .footer__social-media {
    padding: 0;
  }
  .footer__copyright {
    height: 45px;
  }
  .footer__copyright-text {
    width: 276px;
    font-size: 14px;
    line-height: 1.86;
  }
  .footer__phone {
    font-size: 16px;
    line-height: 1.86;
  }
  .footer__phone--accent {
    font-size: 16px;
    line-height: 1.86;
  }
}
.scrollbar {
  background-color: #f5f5f5;
  float: left;
  height: 300px;
  margin-bottom: 25px;
  margin-left: 22px;
  margin-top: 40px;
  width: 65px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #e40f0f;
}

::-webkit-scrollbar-thumb {
  background-color: #d41443;
  width: 35px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  width: 45px;
}/*# sourceMappingURL=main.css.map */