$aboutBackground: #FFF5F6;
$aboutSubtitle: #FFA5BA;
$aboutTitleAndButtonText: #D41443;

h2,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about {
  min-width: 320px;
  margin: 0 auto;
  max-width: 100%;
  background-color: $aboutBackground;
  background-image: url(../images/about/about-mobilesectionbg.png);
  background-repeat: no-repeat;
  background-position: bottom 5% right 50%;
  background-size: 100%;
  // font-family: 'DM Sans';
}

.about__logo {
  padding-top: 26px;
  padding-bottom: 47px;
}

.about__logo-img {
  width: 100%;
}

.about__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
  color: $aboutSubtitle;
  padding-top: 125px;
  font-family: 'Titan One';
  text-transform: uppercase;
}

.about__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 76px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.145;
  color: $aboutTitleAndButtonText;
  padding-top: 15px;
  font-family: 'Titan One';
  text-transform: uppercase;
}

.div-item__desc {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;

  &-1 {
    color: #000000;
    padding-bottom: 47px;
    margin: 0 30px;
  }

  &-2 {
    color: #907E82;
    padding-bottom: 25px;
    margin: 0 30px;
  }

  &-3 {
    color: #907E82;
    padding-bottom: 20px;
    margin: 0 30px;
  }
}

.div-item__btn {
  margin: 0 30px;
  padding: 18px 0px 18px 38px;
  width: 176px;
  height: 44px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  background-color: #FFFFFF;
  border: none;
  border-radius: 22px;
  color: $aboutTitleAndButtonText;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  // padding-bottom: 18px;
  // padding-top: 18px;
  // padding-left: 38px;

  &:hover {
    background-color: #ECEBEB;
  }
}

.div-item__btn-text {
  margin-right: 13.63px;
}

.div-item__btn-svg {
  width: 7px;
  height: 13px;
}


@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .about {
    background-image: url(../images/about/about-mobilesectionbg2x.png);
  }
}