$aboutBackground: #FFF5F6;
$aboutSubtitle: #FFA5BA;

h2,
ul,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about {
  min-width: 320px;
  margin: 0 auto;
  max-width: 100%;
  background-color: $aboutBackground;
  background-image: url(/images/about/mobilesectionbg.png);
  background-repeat: no-repeat;
  background-position: bottom 5% right 50%;
  background-size: 100%;
  font-family: 'DM Sans';
}

.about__div-img {
  width: 100%;
  padding-bottom: 47px;
}

.about__div {
  padding-top: 26px;
}

.about__subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.145;
  color: $aboutSubtitle;
  padding-top: 125px;
  font-family: 'Titan One';
}

.about__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 76px;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.145;
  color: #D41443;
  padding-top: 15px;
  font-family: 'Titan One';
}

.img {
  &__desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;

    &-1 {
      color: #000000;
      padding-bottom: 47px;
      margin: 0 30px;
    }

    &-2 {
      color: #907E82;
      padding-bottom: 25px;
      margin: 0 30px;
    }

    &-3 {
      color: #907E82;
      padding-bottom: 20px;
      margin: 0 30px;
    }
  }

  &__btn {
    margin: 0 30px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 22px;
    color: #D41443;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    column-gap: 14px;
    padding: 18px 38px;
  }
}

@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .adventages {
    background-image: url();
  }
}