/*
          advantages
*/

.invisible {
  display: none;
}
h1,
h2,
h3,
p,
ul {
  font-style: normal;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.section-advantages {
  background: #fff5f6;
  width: 100%;
  background-size: 100%;
}

.advantages__list {
  row-gap: 38px;
  padding: 39px 0 97px 0;
  &-elem-721 {
    &::before {
      content: '';
      background: url(/images/advantages/721-img.png);
      width: 33px;
      height: 50px;
      bottom: 16px;
      display: block;
    }
  }
  &-elem-16 {
    &::before {
      content: '';
      background: url(/images/advantages/16kg-img.png);
      width: 50px;
      height: 50px;
      bottom: 16px;
      display: block;
    }
  }
  &-elem-84 {
    &::before {
      content: '';
      background: url(/images/advantages/84-img.png);
      width: 44px;
      height: 50px;
      bottom: 16px;
      display: block;
    }
  }
  &-elem-name {
    padding-bottom: 25px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    color: #d41443;
    font-family: 'Titan One';
  }
  &-elem-desc {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    padding-right: 50px;
  }
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .advantages__list {
    &-elem-721 {
      &::before {
        background: url(/images/advantages/721-imgx2.png);
      }
    }
    &-elem-16 {
      &::before {
        background: url(/images/advantages/16kg-imgx2.png);
      }
    }
    &-elem-84 {
      &::before {
        background: url(/images/advantages/84-imgx2.png);
      }
    }
  }
}
@media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 3dppx) {
  .advantages__list {
    &-elem-721 {
      &::before {
        background: url(/images/advantages/721-imgx3.png);
      }
    }
    &-elem-16 {
      &::before {
        background: url(/images/advantages/16kg-imgx3.png);
      }
    }
    &-elem-84 {
      &::before {
        background: url(/images/advantages/84-imgx3.png);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    column-gap: 60px;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    padding: 66px 0 140px 0;
    &-elem-721,
    &-elem-16,
    &-elem-84 {
      flex-basis: calc((100% / 3) - 60px);
    }
    &-elem-name {
      padding: 0;
      padding-top: 36px;
      font-size: 48px;
    }
    & &-elem-desc {
      padding: 0;
      padding-top: 13px;
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 1280px) {
  .advantages__list {
    column-gap: 30px;
    padding: 39px 0 139px 0;
    &-elem-721,
    &-elem-16,
    &-elem-84 {
      flex-basis: calc((100% / 3) - 30px);
    }
    &-elem-name {
      padding: 0;
      padding-top: 40px;
      font-size: 58px;
    }
    & &-elem-desc {
      padding: 0;
      padding-top: 15px;
      font-size: 16px;
      max-width: 80%;
    }
  }
}
