$footerBackground: #fff5f6;
$footerLogoMain: #ffa5ba;
$footerLogoAccent: #d41443;
$footerIconBackground: #fea5bb;
$footerContact: #000;
$footerCopyrightBorder: #e1e1e1;
$footerCopyright: #907e82;
.footer {
  width: 100%;
  background-color: $footerBackground;
  &__main {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }
  &__motto {
    width: 232px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-transform: uppercase;
    color: $footerLogoMain;

    &--accent {
      margin-top: 17px;
      font-size: 34px;
      line-height: 39px;
      color: $footerLogoAccent;
      letter-spacing: 0.04em;
    }
  }
  &__social-media {
    padding-top: 43px;
  }
  &__list {
    margin: 0;
    width: 100%;
    gap: 28px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: $footerIconBackground;
  }
  &__icon {
    width: 18px;
    height: 18px;
  }

  &__phone {
    display: flex;
    justify-content: flex-end;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    color: $footerContact;
    margin-top: 46px;

    &--accent {
      font-family: DM Sans;
      font-size: 13px;
      font-weight: 700;
      line-height: 22px;
      padding-left: 3px;
      text-decoration: none;
      color: $footerLogoAccent;
    }
  }
  &__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89px;
    border-top: 1px solid #e1e1e1;
    margin-top: 43px;
    color: $footerCopyright;
    &-text {
      width: 150px;
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    &__main {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 36px;
    }
    &__motto {
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0.04em;
      width: 340px;
      &--accent {
        font-size: 48px;
        line-height: 55px;
        width: 340px;
      }
    }
    &__social-media {
      padding: 0;
    }
    &__copyright {
      height: 73px;
      &-text {
        width: 276px;
        font-size: 14px;
        line-height: 1.86;
      }
    }
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    &__main {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
    &__motto {
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.04em;
      width: 474px;
      &--accent {
        font-size: 58px;
        line-height: 66px;
        letter-spacing: 0.04em;
        width: 474px;
      }
    }
    &__social-media {
      padding: 0;
    }
    &__copyright {
      height: 45px;
      &-text {
        width: 276px;
        font-size: 14px;
        line-height: 1.86;
      }
    }
    &__phone {
      font-size: 16px;
      line-height: 1.86;
      &--accent {
        font-size: 16px;
        line-height: 1.86;
      }
    }
  }
}
