.gallery {
  min-width: 280px;
  padding: 25px 25px;
  background: rgb(255, 245, 246);
  background: linear-gradient(180deg, rgba(255, 245, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);
  display: grid;
  grid-template-columns: repeat(14, minmax(15px, 100%));
  grid-template-rows: repeat(6, minmax(15px, 100%));
  gap: 1px 1px;
  grid-template-areas:
    '. . . . img4 img4 img4 img4 . . img8 img8 . .'
    '. . img2 img2 img4 img4 img4 img4 img6 img6 img8 img8 img10 img10'
    'img1 img1 img2 img2 img4 img4 img4 img4 img6 img6 img9 img9 img10 img10'
    'img1 img1 img3 img3 img4 img4 img4 img4 img7 img7 img9 img9 . .'
    '. . img3 img3 img5 img5 . . img7 img7 . . . .'
    '. . . . img5 img5 . . . . . . . .';
  &__border {
    overflow: hidden;
    border-radius: 7px;
  }
  &__thumb {
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      transform: scale(1.2);
      transition: all 0.9s cubic-bezier(0.91, 0.64, 0.29, 0.02);
    }
  }
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}
.img5 {
  grid-area: img5;
}

.img6 {
  grid-area: img6;
  transform: translateY(15%);
}

.img7 {
  grid-area: img7;
  transform: translateY(15%);
}
.img8 {
  grid-area: img8;
  transform: translateY(35%);
}
.img9 {
  grid-area: img9;
  transform: translateY(35%);
}

.img10 {
  grid-area: img10;
  transform: translateY(60%);
}

@media only screen and (min-width: 768px) {
  .gallery {
    gap: 3px 3px;
  }
}

@media only screen and (min-width: 1280px) {
  .gallery {
    gap: 6px 6px;
  }
}
