$mainBackgroundColor: #d41443;
$mainBackgroundColorMiddle: #e17992;
$mainBackgroundColorLight: #ffb8ca;
$maincolor: #ffffff;
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $mainBackgroundColorLight;
  height: 502px;
  &__logo {
    width: 200px;
    height: 50px;
    padding-top: 6px;
    padding-left: 20px;
  }
}
//mobile-menu//
.menu-toggle {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: $mainBackgroundColorMiddle;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  right: 20px;
  color: $maincolor;
}

.mobile-menu {
  padding: 0;
  margin-top: 60px;
  &__list {
    list-style: none;
    padding: 0;
    margin-left: 21px;
  }
  &__link {
    display: block;
    padding-top: 22px;
    color: $maincolor;
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
  }
  &__button {
    width: 209px;
    height: 44px;
    color: $mainBackgroundColor;
    background-color: $maincolor;
    border: none;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 21px;
  }
  .button__tick {
    margin-left: 16px;
  }
}
.mobile-menu__link:hover {
  color: $mainBackgroundColor;
}
.open-button {
  color: $mainBackgroundColor;
  stroke: 1px;
  margin-top: 18px;
  margin-right: 20px;
}
.close-button {
  color: $maincolor;
  margin-top: 23px;
}
//
