$mainBackgroundColor: #d41443;
$mainBackgroundColorMiddle: #e17992;
$mainBackgroundColorLight: #ffb8ca;
$maincolor: #ffffff;
//main styling
.header {
  background-color: $mainBackgroundColorLight;
  height: 502px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.logo-icecream {
  position: absolute;
  left: 20%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 20px 0 20px;
  &__logo {
    width: 199px;
    height: 50px;

    z-index: 3;
  }
  &__hero {
    z-index: 4;
    position: relative;
    overflow: hidden;
    padding: 0 20px;
  }
  &__hero-down {
    position: relative;
    display: flex;
  }

  &__buttons {
    display: flex;
    z-index: 3;
    top: 0;
    margin-top: 20px;
  }
  &__motto {
    top: 0;
    width: 218px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: $maincolor;
    margin: 0;
    margin-top: 137px;

    p {
      padding: 0;
      margin: 0;
      z-index: 4;
    }
    &--main {
      text-transform: uppercase;
    }
    &--accent {
      font-size: 48px;
      line-height: 46px;
      color: $mainBackgroundColor;
      text-transform: uppercase;
    }
  }
  &__background {
    position: absolute;
    z-index: 1;
    margin-top: 92px;
    margin-left: 83px;
    width: 171px;
    height: 410px;
    &--elipse {
      position: absolute;
      width: 346px;
      height: 344px;
      z-index: 0;
      margin-top: 72px;
    }
    &--tasty {
      display: none;
    }
    &--bio-eco-milk {
      display: none;
    }
  }
  &__milk {
    display: none;
  }
  &__numbers {
    display: none;
  }
  &__menu {
    display: none;
  }
}
//buttons
.buttons {
  z-index: 50;
  &__products {
    background: $mainBackgroundColor;
    border-radius: 20px;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61.2px;
    height: 24px;
    margin-right: 8px;
    color: $maincolor;
    text-decoration: none;
  }
  &__about {
    background: $maincolor;
    border-radius: 20px;
    border: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82.8px;
    height: 24px;
    text-decoration: none;
    color: $mainBackgroundColor;
  }
}
//mobile-menu//
.menu-toggle {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: $mainBackgroundColorMiddle;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  right: 20px;
  color: $maincolor;
}

.mobile-menu {
  padding: 0;
  margin-top: 60px;
  &__list {
    list-style: none;
    padding: 0;
    margin-left: 21px;
  }
  &__link {
    display: block;
    padding-top: 22px;
    color: $maincolor;
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
  }
  &__button {
    width: 209px;
    height: 44px;
    color: $mainBackgroundColor;
    background-color: $maincolor;
    border: none;
    border-radius: 22px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 21px;
    cursor: pointer;
  }
  a {
    text-decoration: none;
  }
}
.button__tick {
  margin-left: 16px;
}

.mobile-menu__link:hover {
  color: $mainBackgroundColor;
}
.open-button {
  position: relative;
  color: $mainBackgroundColor;
  stroke: 1px;
  margin-top: 18px;
  z-index: 50;
}
.close-button {
  color: $maincolor;
  margin-top: 23px;
}
.tablet__menu-button {
  display: none;
}
//media
@media screen and (min-width: 768px) {
  .header {
    height: 399px;
  }
  .logo-icecream {
    position: absolute;
    left: 32%;
    top: 38px;
  }

  .tablet {
    &__menu-button {
      width: 160px;
      height: 44px;
      color: $mainBackgroundColor;
      background-color: $maincolor;
      border: none;
      border-radius: 22px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 30px;
      cursor: pointer;
    }
    &__buttons {
      display: flex;
      height: 50px;
      a {
        text-decoration: none;
      }
    }
  }
  .open-button {
    padding-top: 12px;
    margin-top: 0;
  }
  .nav__logo {
    margin-top: 0;
  }
  .nav {
    position: absolute;
    width: 100%;
    padding: 38px 34px 0 34px;
    z-index: 100;

    &__hero {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0px 34px;
    }
    &__hero-down {
      padding: 0 34px;
    }
    &__motto {
      margin-top: 102px;
    }
    &__background {
      position: absolute;
      width: 143px;
      height: 336px;
      margin-top: 25px;
      margin-left: 166px;
      &--elipse {
        position: absolute;
        width: 324px;
        height: 322px;
        margin-left: 88px;
      }
      &--tasty {
        display: block;
        position: absolute;
        width: 168px;
        height: 133px;
        right: 34px;
        bottom: 0;
        transform: translateY(21px);
        z-index: 20;
      }
      &--bio-eco-milk {
        display: block;
        width: 124px;
        height: 126px;
      }
    }
    &__milk {
      display: flex;

      &-description {
        display: flex;
        flex-direction: column;
        font-family: 'DM Sans';
        font-style: normal;
        font-size: 8px;
        line-height: 1.5;
        color: $maincolor;
        width: 114px;
        text-transform: none;
        padding-top: 44px;
      }
    }
    &__arrow {
      margin-top: 7px;
      width: 18px;
      height: 18px;
    }
    &__numbers {
      display: flex;
      flex-direction: column;
      position: relative;
      gap: 13px;
      padding-top: 102px;
    }
    &__number {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $mainBackgroundColor;
      &-description {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-align: right;
        color: $maincolor;
      }
      &-ellipse {
        position: absolute;
        right: -10px;
        z-index: -1;
      }
    }
    &__menu {
      display: none;
    }
  }
  .mobile-menu__button {
    width: 186px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    height: 665px;
  }
  .logo-icecream {
    left: 41%;
    top: 84px;
  }
  .nav {
    position: relative;
    width: 100%;
    padding: 37px 115px 0 46px;
    z-index: 100;
    &__hero {
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 115px 0 115px;
    }
    &__hero-down {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 274px;
    }
    &__motto {
      width: 277px;
      &--main {
        font-size: 38px;
        line-height: 44px;
      }
      &--accent {
        font-size: 58px;
        line-height: 52.49px;
      }
    }
    &__menu {
      display: flex;
      align-items: center;
      gap: 35px;
      font-size: 16px;
      line-height: 21px;
    }
    &__background {
      position: absolute;
      width: 236px;
      height: 557px;
      margin-left: 110px;
      &--elipse {
        position: absolute;
        width: 538px;
        height: 538px;
        margin-left: 0px;
      }
      &--tasty {
        display: block;
        position: absolute;
        width: 293px;
        height: 232px;
        right: 109px;
        bottom: 0;
        z-index: 20;
      }
      &--bio-eco-milk {
        display: block;
        width: 188px;
        height: 191px;
      }
    }
    &__milk {
      display: flex;
      flex-direction: row;

      &-description {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-size: 14px;
        line-height: 20px;
        color: $maincolor;
        width: 200px;
        height: 78px;
        text-transform: none;
        letter-spacing: 0.04em;
        padding-top: 52px;
      }
    }
    &__arrow {
      width: 26px;
      height: 26px;
      margin-top: 20px;
    }
    &__numbers {
      display: flex;
      flex-direction: column;
      padding-top: 74px;
      position: relative;
      gap: 13px;
    }
    &__number {
      font-family: 'Titan One';
      font-style: normal;
      font-weight: 400;
      font-size: 46px;
      line-height: 53px;
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $mainBackgroundColor;
      &-description {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: $maincolor;
        margin-top: 2px;
      }
      &-ellipse {
        position: absolute;
        width: 30px;
        height: 30px;
        right: -15px;
        z-index: -1;
      }
    }
    &__buttons {
      margin-top: 25px;
    }
  }

  .tablet {
    &__menu-button {
      width: 160px;
      height: 44px;
      color: $mainBackgroundColor;
      background-color: $maincolor;
      border: none;
      border-radius: 22px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 30px;
      cursor: pointer;
    }
    &__buttons {
      display: flex;
      height: 50px;
      a {
        text-decoration: none;
      }
    }
  }

  .nav__logo {
    margin-top: 0;
  }
  .buttons {
    font-size: 14px;
    line-height: 18px;
    &__about {
      width: 138px;
      height: 40px;
      font-size: 14px;
      line-height: 18px;
    }
    &__products {
      width: 104px;
      height: 40px;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .menu-toggle {
    display: none;
  }
  .desktop-menu {
    &__link {
      color: $maincolor;
      text-decoration: none;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      line-height: 21px;
    }
  }
  .desktop-menu__link:hover {
    color: $mainBackgroundColor;
  }
}
