$text-products-main: #FFFFFF;
$text-products-pretitle: #FFA5BA;
$text-products-title: #D41443;
$icecream-background: #FFB8CA;
$icecoffee-background: #F0D1A5;
$milkshake-background: #C2E297;
$readmore-hover: #ECEBEB;

.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0px auto;
    &--products {
        font-family: Titan One;
        font-weight: 400;
        letter-spacing: 0.04em;
        text-align: center;
        color: $text-products-main;
        padding-bottom: 98px;
        padding: 121px 6.25% 98px 6.25%;
        @media (min-width: 481px) {
            padding: 122px 4.427% 112px 4.427%;
        }
        @media (min-width: 769px) {
            padding: 127px 9.66% 119px 9.66%;
        }
    }
}

.pretitle {
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0em;
    color: $text-products-pretitle;
    @media (min-width: 481px) {
        font-size: 26px;
    }
    @media (min-width: 769px) {
        font-size: 30px;
    }
}

.title {
    font-size: 34px;
    line-height: 1.147;
    color: $text-products-title;
    padding-top: 15px;
    padding-bottom: 15px;
    @media (min-width: 481px) {
        font-size: 48px;
    }
    @media (min-width: 769px) {
        font-size: 58px;
    }
}

.products {
    @media (min-width: 481px) {
        display: flex;
    }
    @media (min-width: 769px) {
        margin-top: 75px;
    }
    &__product {
        margin-top: 130px;
    }
    &__product:nth-child(2n) {
        @media (min-width: 481px) {
            margin-left: 2.604%;
            margin-right: 2.604%;
        }
        @media (min-width: 769px) {
            margin-left: 2.41%;
            margin-right: 2.41%;
        }
    }
    &__box {
        border-radius: 24px;
        position: relative;
        &--icecream{
            background-color: $icecream-background;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-image: url(../images/products/icecream-249.png);
                background-repeat: no-repeat;
                position: absolute;
                display: block;
                top: -48%;
                background-position: 50% 50%;
                z-index: 5;
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../images/products/icecream-498.png);
                }
                @media (min-width: 481px) {
                    background-image: url(../images/products/icecream-220.png);
                }
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 481px) {
                    background-image: url(../images/products/icecream-440.png);
                }
                @media (min-width: 769px) {
                    background-image: url(../images/products/icecream-335.png);
                    top: -59%;
                }
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 769px) {
                    background-image: url(../images/products/icecream-670.png);
                    top: -59%;
                }
            }
        }
        &--icecoffee {
            background-color: $icecoffee-background;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-image: url(../images/products/icecoffee-249.png);
                background-repeat: no-repeat;
                position: absolute;
                display: block;
                top: -48%;
                background-position: 50% 50%;
                z-index: 5;
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../images/products/icecoffee-498.png);
                }
                @media (min-width: 481px) {
                    background-image: url(../images/products/icecoffee-220.png);
                }
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 481px) {
                    background-image: url(../images/products/icecoffee-440.png);
                }
                @media (min-width: 769px) {
                    background-image: url(../images/products/icecoffee-335.png);
                    top: -59%;
                }
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 769px) {
                    background-image: url(../images/products/icecoffee-670.png);
                    top: -59%;
                }
            }
        }
        &--milkshake {
            background-color: $milkshake-background;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background-image: url(../images/products/milkshake-249.png);
                background-repeat: no-repeat;
                position: absolute;
                display: block;
                top: -48%;
                background-position: 50% 50%;
                z-index: 5;
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../images/products/milkshake-498.png);
                }
                @media (min-width: 481px) {
                    background-image: url(../images/products/milkshake-220.png);
                }
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 481px) {
                    background-image: url(../images/products/milkshake-440.png);
                }
                @media (min-width: 769px) {
                    background-image: url(../images/products/milkshake-335.png);
                    top: -59%;
                }
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) and (min-width: 769px) {
                    background-image: url(../images/products/milkshake-670.png);
                    top: -59%;
                }
            }
        }
    }
    &__name {
        padding-top: 161px;
        font-size: 20px;
        line-height: 1.15;
        position: relative;
        &::after {
            content: '...';
            width: 100%;
            height: 6px;
            border-radius: 2px;
            display: block;
            position: absolute;
            top: 200px;
            right: 0px;
            letter-spacing: 0.2em;
        }
        @media (min-width: 769px) {
            font-size: 30px;
        }
    }
    &__description {
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        @media (min-width: 769px) {
            font-size: 16px;
        }
    }
    &__textbox {
        margin: 66px 14.29% 0px 14.29%;
    }
}

.read-more {
    background-color: rgba(1,1,1,0);
    border-color: rgba(1,1,1,0);
    margin: 41px auto;
    &:hover, &__arrow:hover {
        cursor: pointer;
    }
}